mixin snippet
  pre: code.
    &lt;head&gt;
      &lt;link rel="stylesheet" href="slide.css" /&gt;
      &lt;style&gt;
        :root {
          --c-fg: #604d53;
          --c-bg: #f3eeee;
          --c-primary: #db7f8e;
          --c-neutral: #ffdbda;
          --c-notice: #edadb4;
          --c-lines: #9da3a4;
          --c-shadows: #d5c5c8;
          --slide-width: 80ch;
        }
      &lt;/style&gt;
    &lt;/head&gt;

section#customisation
  hgroup
    h3: a(href="#customisation") Customisation
    p Slide uses CSS variables in a base layer for the basic theme.
  p.
    This means you can easily
    #[button(onclick='document.documentElement.classList.toggle("demo-theme")') override] them:
  +snippet
