mixin snippet_details
  pre: code.
    &lt;details&gt;
      &lt;summary&gt;Don't click me.&lt;/summary&gt;
      &lt;p&gt;Wow such a rebel..&lt;/p&gt;
    &lt;/details&gt;

mixin snippet_blockquote
  pre: code &lt;blockquote&gt;Don't quote me on that..&lt;/blockquote&gt;

mixin snippet_abbr
  pre: code &lt;abbr title="Looks good to me"&gt;LGTM&lt;/abbr&gt;

section#formatting
  h3: a(href="#formatting") Formatting
  details
    summary Don't click me.
    p Wow such a rebel..
  +snippet_details
  blockquote Don't quote me on that..
  +snippet_blockquote
  abbr(title="Looks good to me") LGTM
  +snippet_abbr
