section#outro
  hgroup
    h2: a(href="#outro") Thanks for your attention
    p Hope this helps!
  figure
    img(src="https://media.giphy.com/media/wLDXxrBcH4FPO/giphy.gif")
    figcaption Me helping you
